.content {
    width: 100%;
    height: calc(100% - 64px);
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fce2ff;
}

.card {
    width: 35%;
    padding: 32px;
    background: #ffffff;
    box-shadow: 0 0 10px #cbcbcb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.title_form {
    font-family: sans-serif;
    font-size: 18pt;
    text-transform: uppercase;
    color: #ff01a2;
}

.summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.summary_datas {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.indice {
    font-family: sans-serif;
    font-size: 12pt;
}

.ind_data {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26pt;
    color: #ff01a2;
}